@import 'normalize.css'; 

@font-face {
  font-family: 'Kalam';
  src: url('../src/fonts/Kalam-Light.ttf') format('ttf'),
    url('../src/fonts/Kalam-Regular.ttf') format('ttf'),
    url('../src/fonts/Kalam-Bold.ttf') format('ttf');
}

body {
  margin: 0;
  font-family: 'Kalam';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.modal-open {
  overflow: hidden;
}
